<%- include('header',{ title:'Login' }); -%>

    <div class="container">
        <h1>Login</h1>
        <form action="" method="POST">
            <label for="user_email">Email</label>
            <input type="email" class="input" name="_email" id="user_email" placeholder="Enter your email">
            <label for="user_pass">Password</label>
            <input type="password" class="input" name="_password" id="user_pass" placeholder="Enter password">
            <% if(typeof error !=='undefined' ){ %>
                <div class="err-msg">
                    <%= error %>
                </div>
                <% } %>
                    <input type="submit" value="Login">
                    <div class="link"><a href="./signup">Sign Up</a></div>
                    <div class="link"><a href="./forgotpassword">Forgot Password ?</a></div>



 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        </form>
    </div>

    <%- include('footer'); -%>